<div class="Card">
  <div class="Card__body">
    <%= tag.p 'Edit Profile', class: 'Card__title' %>
    <%= render partial: 'profiles/form', locals: { profile: @profile, submit_text: 'Update' } %>
  </div>
</div>
