<%= render(CardComponent.new) do |c| %>
  <% c.body do %>
    <h2 class="dark:text-white text-center text-4xl">Almost There</h2>
    <%= render partial: 'profiles/form', locals: { profile: @profile, submit_text: 'Finish' } %>
  <% end %>
<% end %>
