@mixin life-area-tag-style($_border_color) {
  padding: spacing-size(1);
  color: $_border_color;
  border: 1px solid $_border_color;
  border-radius: $base-border-radius;
}

.IdentityStatement {
  &__life-area-tag {
    &--career {
      @include life-area-tag-style(#0004F0);
    }

    &--financial {
      @include life-area-tag-style(#1A9442);
    }

    &--spiritual {
      @include life-area-tag-style(#5931B8);
    }

    &--physical {
      @include life-area-tag-style(#F1161C);
    }

    &--intellectual {
      @include life-area-tag-style(#FFC211);
    }

    &--family {
      @include life-area-tag-style(#00A4C8);
    }

    &--social {
      @include life-area-tag-style(#FF7011);
    }
  }

  &__statement {
    font-size: font-scale(.5);
    text-align: center;
    line-height: spacing-size(4);
  }

  &__identity, &__objective {
    border-style: solid;
    border-width: 0 0 5px 0;
    border-radius: $base-border-radius;
  }

  &__identity {
    border-color: theme-color('accent');
  }

  &__objective {
    border-color: theme-color('primary');
  }
}
