body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card__title {
  text-transform: none;
}

.Hero__headline--muted {
  font-family: $base-font-family;
  font-weight: 500;
  text-transform: none;
}
