<%= turbo_frame_tag :new_identity_statement do %>
  <div class="flex flex-wrap justify-center mt-4 mb-6 mx-auto">
    <%= render(ButtonToComponent.new(link: new_identity_statement_path, method: :get, options: { variant: :outline_blue })) do %>
      <i class="fas fa-bullhorn"></i>&nbsp;Make a Statement
    <% end %>
  </div>
<% end %>
