<%= turbo_frame_tag :new_identity_statement do %>
  <div class="Ribbon">
    <%= button_to new_identity_statement_path, class: 'Button--outline-primary', method: :get do %>
      <i class="fas fa-bullhorn"></i>&nbsp;Make a Statement
    <% end %>
  </div>
<% end %>
