<nav class="Navbar--unauthenticated">
  <div class="Navbar__header">
    <%= tag.span I18n.t('layout.navbar.brand'), class: 'Navbar__brand' %>
    <%= button_to 'auth/auth0', method: :post, class: 'Navbar__button', 'data-turbo': false do %>
      <i class="fas fa-sign-in-alt"></i>&nbsp;<%= I18n.t('layout.navbar.login') %>
    <% end %>
  </div>
</nav>
